{% extends "layout.html.twig" %}

{% block content %}

    <div id="views" data-categoria="{{ categoria }}">Views</div>
    <script src="{{ asset('assets/build/bundle.js') }}"></script>

{% endblock %}
